trunk/projects/csharp/EpaySoap/App_WebReferences/mobiEz/umarketsc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.utiba.com/delirium/ws/Misc" elementFormDefault="qualified" targetNamespace="http://www.utiba.com/delirium/ws/Misc" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KeyValuePair">
    <xs:sequence>
      <xs:element name="key" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KeyValuePairMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="keyValuePairs" nillable="true" type="tns:KeyValuePair" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>